*{
    user-select: none;
}
body{
    background-image: url(https://images.unsplash.com/photo-1530789253388-582c481c54b0?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-repeat: no-repeat;
    background: rgb(15, 44, 53);
    background-size:cover !important;
    top: 0px;
    left: 0px;
    background-attachment: fixed;
    overflow-x: hidden;
}
/* body{
    background-color: rgb(0, 169, 147);
} */
header{
    height:fit-content;
    width: 100vw;
    z-index: 1;
    position: relative;
    top:0px;
    animation-name: Down;
    animation-duration: 2s;
    animation-timing-function: cubic-bezier(0.12, 0.09, 0, 1.12);
    /* background-color: rgba(0, 169, 147, 0.398); */
    background: transparent;
    border: none;
    color: white;
}
@keyframes Down{
    0%{
        transform: translateY(-100px);
    }
    50%{
        transform: translateY(7px);
    }
   
}
header li{
    list-style: none;
    display: inline-block;
    margin:0 15px;
    transition: 0.5 ease all;
}

header h1{
    float:left;
}
ul{
    float: right;
    margin: 0px;
    margin-right: 20px;
}
header .link-button{
    user-select: none;
    background: transparent;
    border: transparent;
}
header .link-button:hover{
    background: #000;
    color: rgb(255, 255, 255);
}
.bars{
    display: none;
}
.showul{
    display:block;
}
.Forgotpass{
    text-align: end;
    text-decoration: none;
    margin:10px 15px;
    color: hsl(240, 76%, 56%);
    cursor: pointer;
}
.Forgotpass:hover{
    color: hsl(240, 76%, 70%);

}
.orloginwith{
    display: flex;
}
.orloginwith hr{
    width: 37%;
}
.orloginwith p{
    margin:0 2%;
}

.google,.apple{
    border-radius: 15px;
    height: 35px;
    color:  #000;
    background:aliceblue;
    border: 2px solid black;
}
.google:hover,.apple:hover{
    color: aliceblue;
    background: #000;
    border:2px solid aliceblue !important;
}
.close{
    color: #000 !important;
}
.close:hover{
    color: white !important;
}
.result{
    text-align: center;

}
.fa-paper-plane{
    font-size: 35px;
    letter-spacing: 10px;
}

@media all and (max-width:970px) {
    .bars{
        display: block;
        position: absolute;
        top:-1px;
        right: 20px;
        width:50px;
        height: auto;
        border-radius: 10px;
        border-style: double;
        transition: 0.5 ease all;
        font-size: xx-large;
    }
    ul{
        display: none;
        position: absolute;
        top:60px;
        /* display: flex; */
        flex-direction: column;
        text-align: center;
        width: 97%;
        background: #000;
        padding: 50px;
        border-radius: 10px;
        height: 90vh;
        animation-name: sliderdown;
        animation-duration: 1s;
        animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
        animation-fill-mode: both;
    }
}
@media  screen and (max-width:410px) {
    header .topic{
        font-size: 25px !important;
        margin: 0;
    }
    .bars{
        scale: 0.7;
        right: 1px;
    }
}
@media  screen and (max-width:381px) {
    header .topic{
        font-size: 20px !important;
        margin: 0;
    }
    header .topic i{
        font-size: 20px !important;
    }
    header{
        margin-bottom: 6vh;
    }
    .bars{
        top: -7px;
        scale: 0.7;
        right: 1px;
    }
}

@keyframes sliderdown{
    from{
        transform: translateY(-100%);
        animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
    }
}

    header .link-button{
        color: rgb(255, 255, 255);
        background: #000;
        border-color: #000;
    }
    header .link-button:hover{
        background: rgb(255, 255, 255);
        color:#000 ;
    }

    .bars:hover{
        color: rgb(255, 255, 255);
        background: #000;
        transition: 0.5 ease all;
       transform: scale3d(1.2,1.2,10);
        
        
    }
    .btn{
        color: rgb(255, 255, 255);
        margin: 10px 0;
    }
    .btn:active{
        color: rgb(0, 0, 0);
        background-color: rgb(255, 255, 255);
    }
    ul li .btn:hover{
        color: rgb(0, 0, 0);
        background-color: rgb(255, 255, 255);
    }
    .login{
        background-color: rgb(10, 83, 119) !important;
        scale: 1.1;
        margin:5px auto;
    }

    .login:hover{
        background-color: rgb(255, 255, 255) !important;
        color: rgb(0, 0, 0) !important;
    }
    .showul{
        display:flex;
    }

#loggedinsetting i{
    height: 100px;
}
.card-div{
    display: flex;
    gap: 6px;
    justify-content: space-around;
}
.card{
    margin: 10px;
    background-color: rgba(39, 190, 170, 0.455);
    color: white;
    text-shadow: 1px 1px 1px black;
}
.fa-ticket , .fa-globe , .fa-calendar{
    font-size: 2.5rem;
}
@media screen and (max-width:800px) {
    .card-div{
        display: block;
        width: 80vw;
        margin: auto;
    }
    .card-div *{
        text-align: center;
    }
}
@media screen and (max-width:700px) {
    .card-div{
        display: block;
        width: 100%;
        margin: auto;
    }
    .card-div *{
        text-align: center;
    }
}