@import url('https://fonts.googleapis.com/css2?family=Charm:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ojuju:wght@200..800&display=swap');
.cardholder{
    display: flex;
    justify-content: space-around;

}
.title{
    text-align: left;
    font-size: larger;
    font-family: "Ojuju", sans-serif;
}
.mainhead{
    font-weight: bolder;
    color: white;
    font-size: 70px;
    font-family: "Charm", cursive;
}
.checked{
    color: rgb(228, 228, 43);
}
@media screen and (max-width:800px) {
    .cardholder{
        display: block;
        width: 80vw;
        margin: auto;
    }
    .cardholder *{
        text-align: center;
    }
}
@media screen and (max-width:700px) {
    .cardholder{
        display: block;
        width: 100%;
        margin: auto;
    }
    .cardholder *{
        text-align: center;
    }
}